{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>
    <div class="flex flex-wrap flex-row">
        {% for livre in livres %}
            <a href="{{ path('app_livre_show', {'id': livre.id}) }}">
                <article class="bg-[#f8edeb] hover:bg-[#f9dcc4] transition-colors duration-500 w-fit p-5 case mx-5">
                    <img src="{{ livre.photo }}" class=" w-60 h-60 flex items-end">
                        <h5 class="">{{ livre.nom }}</h5>
                        <p>{{ livre.prix }}</p>
                    </img>
                    <a href="{{ path('app_livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">edit</a>
                </article>
            </a>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
        </tbody>
    </table>

    <a href="{{ path('app_livre_new') }}">Create new</a>
{% endblock %}
