<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <nav class="flex flex-row my-2 py-5 bg-[#F9dcc4]">
            <h1 class="ml-5">
                <a href="{{ path('home') }}" class="text-3xl font-title md:text-5xl">Bibliothèque</a>
            </h1>
            <div class="mx-5 my-5 flex justify-end w-3/4">
                <a href="{{ path('app_livre_index') }}" class="px-3 py-2 mx-5 font-bold bg-[#fec89a] hover:bg-[#f8edeb] hover:text-[#ffb5a7] rounded-3xl md:px-4 transition-colors duration-500">Les livres</a>
                <a href="{{ path('app_panier_index') }}" class="px-3 py-2 mx-5 font-bold bg-[#fec89a] hover:bg-[#f8edeb] hover:text-[#ffb5a7] rounded-3xl md:px-4 transition-colors duration-500">Panier</a>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" title="{{app.user.username}}"
                        class="px-3 py-2 mx-5 font-bold bg-[#fec89a] hover:bg-[#f8edeb] hover:text-[#ffb5a7] rounded-3xl md:px-4 transition-colors duration-500">Se
                        déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}"
                        class="px-3 py-2 mx-5 font-bold bg-[#fec89a] hover:bg-[#f8edeb] hover:text-[#ffb5a7] rounded-3xl md:px-4 transition-colors duration-500">Se
                        connecter</a>
                {% endif %}
            </div>

            {# <a href="{{ path('apropos') }}">A Propos</a> #}
            {# <a href="{{ path('nombre', {id:1}) }}">Nombre 1</a> #}
        </nav>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
