<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <nav class="flex flex-row ">
            <h1 class="ml-5">
                <a href="{{ path('home') }}" class="text-3xl font-title md:text-5xl">Bibliothèque</a>
            </h1>
            <div class="flex justify-center mx-5 my-5">
                <a href="{{ path('app_livre_index') }}">Les livres</a>
                <a href="{{ path('app_auteur_index') }}">Les auteurs</a>
                <a href="{{ path('app_editeur_index') }}">Les éditeurs</a>
            </div>

            {# <a href="{{ path('apropos') }}">A Propos</a> #}
            {# <a href="{{ path('nombre', {id:1}) }}">Nombre 1</a> #}
        </nav>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
